*{
    padding: 0;
    border: 0;
    margin: 0;
}

nav{
    width: 100%;
}

nav ul{
    list-style: none;
}

ul{
    list-style: georgian;
}

nav > ul{
    list-style: none;
}

#navegacion{
    width: 100%;
}

#navegacion > ul > li{
    display: inline-block;
    width: 23%;
    text-align: center;
}

#navegacion > ul > li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}